.container {
    font-family: 'Montserrat', sans-serif;
    min-height: 80vh;
    width: 70%;
    background: #FEFEFE;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    text-align: center;
    cursor: pointer;
}

.container .dropdown {
    width: 70%;
    padding-top: 10px;
}


