.container {
    min-height: 80vh;
    width: 70%;
    background: #FEFEFE;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
 
}

