.footer {
    font-family: 'Montserrat', sans-serif;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
}

.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #212121, #424242);
    top: -5px;
    left: 0;
}

.footer .github-text {
    font-size: 0.8em;
    color: #424242;
}

.footer .github-text a {
    text-decoration: none;
    color: #424242;
}

.footer .github-text a:hover {
    color: #DDDDDE;
}

.Modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    left: 80px;
    right: 80px;
    bottom: 80px;
    background-color: #212121;
    border-radius: 15px;
    outline: none;
    color: #DDDDDE;
    font-family: 'Montserrat', sans-serif;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.Modal .modal-div {
    width: 96%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.Modal .modal-div::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.Modal .modal-div::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #212121, #424242);
    border-radius: 5px;
}

.Modal .modal-div .modal-exit {
    width: 100%;
    height: 5%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Modal .modal-div .modal-exit button {
    padding: 5px;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #DDDDDE;
    box-sizing: border-box;
}

.Modal .modal-div .modal-exit button:hover {
    color: #ff9900;
}

.Modal .modal-div .modal-header {
    width: 100%;
    height: 10%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal .modal-div .modal-header h1 {
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.Modal .modal-div .modal-paragraph {
    width: 100%;
    min-height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
}

.Modal .modal-div .modal-paragraph p {
    font-size: 1.1rem;
}

.Modal .modal-div .modal-paragraph p span {
    font-size: 1.8rem;
    font-family: 'Caveat', cursive;
}

.Modal .modal-div .modal-paragraph p .logo-orange {
    color: #ff9900;
    padding-right: 5px;
}

.Modal .modal-div .modal-qrcode {
    width: 100%;
    min-height: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.Modal .modal-div .modal-qrbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.Modal .modal-div .modal-qrbox .qr-code {
    max-width: 40%;
    height: auto;
}

.Modal .modal-div .modal-qrbox .btcadress-header {
    padding-top: 12px;
    color: #424242;
    font-size: 15px;
}

.Modal .modal-div .modal-qrbox .btcadress-adress {
    padding-top: 12px;
    padding-right: 5px;
    padding-left: 5px;
    color: #DDDDDE;
    font-size: 10px;
    letter-spacing: 1px
}

.Modal .modal-div .modal-qrbox .btcbutton {
    margin-top: 5px;
    background: none;
    border: none;
    color: #ff9900;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.Modal .modal-div .modal-qrbox .ethbutton {
    margin-top: 5px;
    background: none;
    border: none;
    color: #62688F;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.copied-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: #DDDDDE;
}

.copied-notification span {
    color: #212121;
    font-size: 15px;
}

@media screen and (max-width: 960px) {
    .Modal .modal-div .modal-qrcode {
        padding-top: 20px;
        flex-direction: column;
    }
    .Modal .modal-div .modal-qrbox button {
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 665px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 0;
        padding-top: 15px;
    }
    .footer .github-text {
        padding-bottom: 15px;
    }
    .Modal {
        top: 25px;
        right: 25px;
        bottom: 25px;
        left: 25px;
    }
    .Modal .modal-div {
        width: 94%;
    }
    .Modal .modal-div::-webkit-scrollbar {
        width: 5px;
    }
    .Modal .modal-div .modal-header h1 {
        font-size: 1.3rem;
    }
    .Modal .modal-div .modal-paragraph p {
        font-size: 0.9rem;
    }
    .Modal .modal-div .modal-paragraph p span {
        font-size: 1.5rem;
    }
    .Modal .modal-div .modal-qrcode {
        min-height: 35%;
    }
    .Modal .modal-div .modal-qrbox .qr-code {
        max-width: 35%;
        height: auto;
    }
    .Modal .modal-div .modal-qrbox .btcadress-adress {
        font-size: 8px;
    }
    .copied-notification {
        width: 100px;
        margin: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .copied-notification span {
        font-size: 12px;
    }
}

@media screen and (max-width: 330px) {
    .Modal .modal-div .modal-header h1 {
        font-size: 1.1rem;
    }
    .Modal .modal-div .modal-paragraph p {
        font-size: 0.7rem;
    }
    .Modal .modal-div .modal-paragraph p span {
        font-size: 1.3rem;
    }
    .Modal .modal-div .modal-qrbox .btcadress-header {
        font-size: 12px;
    }
    .Modal .modal-div .modal-qrbox .btcadress-adress {
        font-size: 6px;
    }
}